/*  ✪ https://zam.usite.pro/publ/...
    ✫ Версия 1.0.0
    © Copyright Плюшки для сайтов 2024
*/

/* !!! Использовать только для конкретных элементов проекта !!!
  Ибо будет конфликт: */
[ztema] > *, [ztema] > * > *,
[ztema] > * > *::after, [ztema] > * > *::before {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-size: inherit;/* уравнивает все элементы */
}

/* ✦ a, button (.B-L Загрузка...) ✦ *//* #region */
    /* ✦✦ ! :hover/disabled/.B-L ✦✦ *//* #region */
[class*="B-Ig-DN"] {
  --B-bg: var(--bg);/* background (input, textarea) */
  --B-I-C: var(--B-C);/* Свой цвет иконки <button style="--B-I-C: #fff" */
  display: inline-flex;
  align-items: center;/* Для выравнивания по Центру b */
  padding: 2px;
  font: inherit;
  cursor: pointer;
  text-decoration: unset;
  transition: .3s;
}

/* hover: */
[class*="B-Ig-DN"]button:not([disabled]):hover > *,/* :is(p,b) Затемнение при наведении мышки */
/* [disabled] */
.Bstop /* Для всех какбы disabled */
[class*="B-Ig-DN"]button:not(.B-L, [class*="B-i"]) > *,/* button,a */
[class*="B-Ig-DN"]button[disabled]:not(.B-L) > * {
  opacity: .3;
}
@media (hover: none) and (pointer: coarse) {/* смартфоны, устройства с сенсорным экраном */
  [class*="B-Ig-DN"]button:not([disabled]):hover > * {/* Отжимает opacity.3 (Когда на телефоне остаёдся гореть после нажатия) */
    opacity: 1;
    color: var(--B-C);
  }
}

/* Убераем возможнасть нажать! Когда установлено: <body class="Bstop" или <button,input.. disabled
  
  Пример когда вешаем click:
  
  $('button').click(e => {
    if($(e.currentTarget).css('pointer-events') == 'none') {//Остановим обработку
      return;
    }
    //Ваш код...
  });
*/
[class*="B-Ig-DN"]button:is(.B-L, [disabled])/* button,a */
.Bstop [class*="B-"] {/* Для всего */
  /* cursor: default; */
  pointer-events: none;
}
    /* ✦✦ ! :hover/disabled/.B-L ✦✦ *//* #endregion */

    /* ✦✦ click Отображение нажатия кнопки ✦✦ *//* #region */
        /* ✦✦✦ ! ✦✦✦ *//* #region */
/* • Полезное
     :active Работает для:
       a, button
*/
[class*="B-Ig-DN"]button:not([disabled]):active::after {z-index: 999;
  content: '';
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  border-radius: 4px;

  box-shadow: inset 0 0 3px #ef06;
  outline: 1px solid #ef06;

  pointer-events: none;
  animation: click_PL 1s forwards
}
@keyframes click_PL {
    20% {
      box-shadow: inset 0 0 5px 5px #ef06;
      outline-width: 7px;
    }
    100% {
      opacity:0;
    }
}
        /* ✦✦✦ ! ✦✦✦ *//* #endregion */
    /* ✦✦ click Отображение нажатия кнопки ✦✦ *//* #endregion */
/* ✦ a, button (.B-L i Загрузка...) ✦ *//* #endregion */

/* ✦ icon (Свои/google) ✦ *//* #region */
    /* ✦✦ ! ✦✦ *//* #region */
[class*="B-Ig-DN"] {/* button style="--B-I-Om:8px" Изменить отступ */
  --B-I-O: var(--B-I-Om, 4px);/* Отступ между <button(рамка) и <p(icon) <b(текст)*/
  padding: var(--B-I-O);
}
[class*="B-Ig-DN"]::before {/* Для выравнивания всех в 1 ряд, когда иконка без текста `© zam` */
  content: 'z';
  width: 0;/* Важно! width и height */
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  line-height: .9;
}

[class*="B-Ig-DN"] p { /* icon. Для смещения иконки: p {margin-bottom/left: 4px;*/
  display: inline-flex;/* Центруем для <s */
  justify-content: center;
  align-items: center;
  position: relative;
  margin:0; padding:0;/* margin/padding:0, Для p сброс (ucoz) */
  width: 1em;
  min-width: 1em;/* Помагает не сжаться, когда текст в b невмещяется */
  height: 1em;
  /*align-self: flex-start;*//* top */
  align-self: center;
}
    /* ✦✦ ! ✦✦ *//* #endregion */
/* ✦ icon (Свои/google) ✦ *//* #endregion */

/* ✦ icon google .B-Ig- p ✦ *//* #region */
    /* ✦✦ ! ✦✦ *//* #region */
[class*="B-Ig-DN"] p::after {
  font: 400 1em 'Material icons';
  color: var(--B-I-C);
  transition: .5s;
}
    /* ✦✦ ! ✦✦ *//* #endregion */

    /* ✦✦ .B-Ig-DN авто/День/Ночь ✦✦ *//* #region */
        /* ✦✦✦ ! ✦✦✦ *//* #region */
[class*="B-Ig-DN"] {
  --B-I-O: .3em;/* em Важно для увеличения */
  --B-I-br: #999;
  background: var(--B-bg);
  border-radius: 50%;
  border: 1px solid var(--B-I-br);
  box-shadow: inset 0 0 3px var(--B-I-br);
}
[class*="B-Ig-DN"] p:nth-child(2) {
  position: absolute;
}
/* Солнце: */
.B-Ig-DN1 {
  --B-I-br: #551
}
[class*="B-Ig-DN"]:not(.B-Ig-DN2) p:nth-child(1)::after {
  content: '\e81a';
  --B-I-C: #dd0;
}
/* Луна: */
.B-Ig-DN2 {
  --B-I-br: #03a
}
[class*="B-Ig-DN"]:not(.B-Ig-DN1) p:nth-child(2)::after {
  content: '\e3a8';
}
        /* ✦✦✦ ! ✦✦✦ *//* #endregion */

        /* ✦✦✦ Авто Светлая/Тёмная ✦✦✦ *//* #region */
.B-Ig-DN0 p {
  filter: grayscale(100%);
  transform: rotate(-45deg);
}
.B-Ig-DN0 p:nth-child(1)::after {
  left: -.25em;
}
.B-Ig-DN0 p:nth-child(2)::after {
  right: -.4em;
}
        /* ✦✦✦ Авто Светлая/Тёмная ✦✦✦ *//* #endregion */
    /* ✦✦ .B-Ig-DN авто/День/Ночь ✦✦ *//* #endregion */
/* ✦ icon google .B-Ig- p ✦ *//* #endregion */

/* ✦ Для анимации авто/День/Ночь ✦ *//* #region */
    /* ✦✦ ! ✦✦ *//* #region */
[ztema] {z-index: 2;
  --ztemaBT: 1.7em;/* Открыть меню низ */
  display: inline-block;
  position: relative;
}

[ztema] button {/* Для начала анимации: */
  opacity: 1;
  left: 0;
  top: 0;
  transition: .3s,
    opacity .3s,
    background 0s,/* не 0, плохо в переходе */
    border .2s, box-shadow .2s,
    transform .4s
}
[ztema] > :not(.B-Ig-DN0) {/* Кроме .B-Ig-DN0 (Для сохранения размера ячейки) */
  position: absolute;
}

.zTemaT {/* !!! Установим открытие меню сверху */
  --ztemaBT: -1.7em;/* Открыть меню Верх -1.7em */
}

html:not([style*=color-scheme]) [ztema] button::after {
  content: none!important/* Уберём отображенние клика по button, когда скрипт небыл загружен zTema.on(); */
}
    /* ✦✦ !  ✦✦ *//* #endregion */

    /* ✦✦ Какая кнопка нажата(в открытом положении) ✦✦ *//* #region */
/* 0 - Авто, 1 - День, 2 - Ночь: */
[ztema="0"] .B-Ig-DN1,
[ztema="1"] .B-Ig-DN2,
[ztema="2"] .B-Ig-DN0 {
  left: -1.1em;
  top: var(--ztemaBT);
}
[ztema="0"] .B-Ig-DN2,
[ztema="1"] .B-Ig-DN0,
[ztema="2"] .B-Ig-DN1 {
  left: 1.1em;
  top: var(--ztemaBT);
}
    /* ✦✦ Какая кнопка нажата(в открытом положении) ✦✦ *//* #endregion */

    /* ✦✦ .zTemaO Выбранный button, .zTemaX ✦✦ *//* #region */
.zTemaO, .zTemaX > button:not(.zTemaO) {/* Выбранный button авто/день/ночь, Не выбранные кнопки когда Меню закрыто(Для анимации при загрузки страницы) */
  z-index: 1;
  --B-I-br: #0000!important;/* У выбранного убераем border, */
  --B-bg: #0000!important;  /* и background */
}

[ztema]:not(.zTemaX) .zTemaO p {/* Выбранная кнопка, когда меню открыто */
  opacity: .6!important;
}
    /* ✦✦ .zTemaO Выбранный button, .zTemaX ✦✦ *//* #endregion */

    /* ✦✦ .zTemaX Меню закрыто ✦✦ *//* #region */
.zTemaX .zTemaO {/* Нажатая кнопка, при закрытии меню */
  transition: .7s,
    background 0s,/* Не 0, плохо в переходе */
    border .2s, box-shadow .2s
}

.zTemaX button:not(.zTemaO) {/* Спрячем button(Кроме выбранного): */
  opacity: 0;
  left: 0!important;
  top: 0!important;
  transform: scale(0);
  pointer-events: none;
}
    /* ✦✦ .zTemaX Меню закрыто ✦✦ *//* #endregion */
/* ✦ Для анимации авто/День/Ночь ✦ *//* #endregion */
